@import "palette";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;

  -webkit-box-shadow: 0 10px 5px -5px $shadow;
  -moz-box-shadow: 0 10px 5px -5px $shadow;
  box-shadow: 0 10px 5px -5px $shadow;

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
  }
}