<div class="chat">
    <div class="chat__message-list" data-test-id="message-area">
        @for (message of messageList(); track $index) {
            <app-message [message]="message"
                          [class]="message.author.type"></app-message>
        } @empty {
            <span class="chat__empty-message">Пока нет сообщений</span>
        }
    </div>
    <div class="chat__input">
        <input type="text"
               placeholder="Введите запрос здесь"
               data-test-id="chat-input">
        <button data-test-id="send-button">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
            ><path d="m3 3 3 9-3 9 19-9Z"/><path d="M6 12h16"/>
        </svg>
        </button>
    </div>
</div>