@if (message()) {
    <div class="message-container"
         [class]="'message-container_' + message()?.author?.type">
            @switch (message()?.author?.type) {
                @case (authorTypeEnum.CHATBOT) {
                    <img src="assets/icons/bot.svg"
                         alt="chatbot-icon"
                         class="author-icon"
                    >
                }
                @case (authorTypeEnum.USER) {
                    <img src="assets/icons/user.svg"
                         alt="chatbot-icon"
                         class="author-icon"
                    >
                }
            }
        <div class="message">
            <div class="message__body">
                <div class="message__header">
                    <div class="message__header__author-name">
                        {{message()?.author?.name}}
                    </div>
                    <div class="message__header__message-date">
                        {{message()?.created | passedTime | async}}
                    </div>
                </div>
                <div class="message__text"
                     [attr.data-test-id]="
                        message()?.author?.type == authorTypeEnum.CHATBOT
                        ? 'bot-message' : 'user-message'
                     ">
                    {{message()?.text}}
                </div>
            </div>
        </div>
    </div>
}