@font-face {
  font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
 font-family: 'RobotoSerif';
 src: url('assets/fonts/RobotoSerif-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}