$primary: #0047ff;
$primary-active: #003eda;

$secondary: #f67933;

$text-primary: #1d232c;
$text-secondary: #f3f3f3;
$text-hint: #bbbbbbb8;

$background: #f3f3f3;

$disabled: #7b7b7bbf;

$shadow: #C6CFD699;